body {
    font-family: Constantia, Lucida Bright, LucidaBright, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia;
    font-size: 90%;
    background-color: #FDFDFD;
    position: relative;
    width: 100%;
}

#content img {
    margin-bottom: 3px;
    outline: 1px solid #a9a9a9;
    padding: 3px;
    position: relative;
    vertical-align: bottom;
}

.byline { 
    margin-top: -1em;
    font-style: italic;
    font-size: 80%;
}

a {
    text-decoration: none;
    color: #555;
    text-decoration: underline;
}

.title a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


#content {
    min-height: 400px;
}

#wrapper {
    padding: 4em 0;
}

#gridWrapper {
    padding: 2em 0;
}

ul {
    list-style: none;
    margin: 0;
}

ul .title {
    font-size: 1.8em;
    font-size: 120%;
    font-weight: bold;
    line-height: 1.6em;
}

ul .author {
    font-style: italic;
}

h1, h1.title {
    font-size: 200%;
}

.title, #goal, h1 {
/*    font-variant: small-caps; */
}

.box {
    background-color: #F0F0F0;
    margin: 0;
    padding: 0;
    background-color: #FDFDFD;
    background-color: #F0EDEA;
}
.box .title, .box .pubdate {
    font-size: 130%;
    font-weight: bold;
}
.box .title {
    line-height: 80%;    
}
.box .pubdate {
    font-size: 80%;
    font-weight: normal;
    font-style: italic;
}
.box .inner {
    padding: 10px;
}
.box .description {
    font-size: 95%;
    line-height: 110%;
}
.box:hover {
    background-color: #D3D0CD;
    cursor: pointer;
}
.box img, .box .description {
    margin-top: 0.5em;
}
div.alt {
    background-color: #CCC;
}
#header, #footer {
    width: 100%;
    position: fixed;
    left: 0px;
    color: #FFF;
    background: #333;
    z-index: 100;
}
#header {
    top: 0px;
}
.title {
    font-variant: small-caps;
}
#footer {
    bottom: 0px;
    font-size: 70%;
    padding: 5px 0;
}
#header ul, #search_container {
    padding: 7px;    
}
#header ul {
    float: left;
}
#header ul li, #footer ul li {
    padding: 0 10px;
    float: left;
}
#header a {
    text-decoration: none;
}
#footer a, #header a {
    color: #DDD;
}
#header a:hover, #footer a:hover {
    color: #FFF;
}
#header a:hover {
    text-decoration: overline;
}

#search_container {
    float: right;
    display: none;
}
#search_container form {
    display: inline;
}
.hide {
    visibility: hidden;
    display: none;
}



/**** Masonry CSS ****/

.wrap {
    border: 0px solid #456;
    padding: 10px;
  margin-bottom: 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.wrap:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.box {
    margin: 5px;
    padding: 5px;
/*    background: #D8D5D2;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
/*    font-size: 11px;*/
    float: left;
}

.col1 { width: 80px; }
.col2 { width: 180px; }
.col3 { width: 280px; }
.col4 { width: 380px; }
.col5 { width: 480px; }

.col1 img { max-width: 80px; }
.col2 img { max-width: 180px; }
.col3 img { max-width: 280px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }

.info {
  position: absolute;
  top: 30px;
  display: block;
  margin: auto;
  padding: 3px 3px;
  background: #FFF;
  filter:alpha(opacity=90);
  -moz-opacity:0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
}
