---
layout: grid
title: Doug Fritz
---
<div class="hide">
    Doug Fritz is a PhD Candidate at <a href="http://media.mit.edu">MIT Media Lab</a> in the <a href="http://fluid.media.mit.edu">Fluid Interfaces Group</a>.
</div>
<div id="items" class="wrap">
  {% for post in site.categories.projects %}
    <div class="item box col3" onclick="location.href='{{ post.url }}';">
      <div class="inner">
            {% if post.teaser %}
        <div class="info span-8">
          {% else %}
        <div class="">
        {% endif %}
          <div class="title index"><a href="{{ post.url }}">{{ post.title }}</a></div>
          <div class="pubdate">{{ post.date | date_to_string }}</div>
          <div class="hide index">{{ post.categories }}</div>
        </div>
        {% if post.teaser %}
        <div class="image">
          <a href="{{ post.url }}"><img width="255px" src="{{ post.teaser }}"></a>
        </div>
        {% endif %}
        {% if post.description %}
        <div class="description">
          {{ post.description }}
        </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
