@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);

body {
  background-color: #f0f0f0;
  font-size: 20px;
  color: #31322C;
  font-family: 'Ubuntu Mono', mono;
}

#container {
  margin: 2em auto;
  max-width: 480px;
  border-radius: 0.2em;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#main {
  padding: 0.1em 1em;
}

a {
  color: #000;
}

a:hover {
  color: #66d9ef;
}

.readme {
  margin: 20px 0;
  text-align: right;
}

table {
  width: 100%;
  text-align: left;
}

