---
layout: default
---
<div id="gridWrapper">
	{{ content }}
</div>
<script type="text/javascript" src="/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="/js/quicksilver.js"></script>
<script type="text/javascript" src="/js/live_search.js"></script>
<script type="text/javascript" src="/js/nav.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function($) {
		$('#items').masonry({
			singleMode: true,
		    itemSelector: '.box',
			resizeable: true, 
		});
		
		/*
        *  Resolve any incoming anchor links
        */
        $(window).load(function(){
            if ( window.location.hash ) {
                var destination = $( window.location.hash ).offset().top;
                $("html:not(:animated),body:not(:animated)").scrollTop( destination );
            }
        });
	});
</script>
