<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <title>{{ page.title }}</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link href="/atom.xml" rel="alternate" title="{{ site.title }}" type="application/atom+xml" />
  <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/css/print.css" type="text/css" media="print">
  <!--[if IE]>
    <link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
  <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection">
  <!--
                            .                         .
              .  *       `     .       +     .    *        `   +     .
                  .   ______       _____     __    __    ______    `    +
           .   `     /  ___ \   /  ___  \  /  /  /  / /  ______\         .
              .     /  /  /  } /  /  /  / /  /  /  / /  /           *   .
          .  *     /  /  /  / /  /  /  / /  /  /  / /  /  /-----/
          +       /  /__/ _/ /  /__/  / /  /__/  / /  /___/  /      . +
         .    `  /_______-   \_____ /   \_____ /   \_______ /
                  .         +            `       .                *
             `       *          .           +          *           `
                    Hooray easteregg, somebody is looking at the code.
  -->
  <meta name="keywords" content="doug fritz art computer science clustering design robotics cool hack diy programming" />
  <meta name="description" content="Doug Fritz.  Art, Programming, Research.  My interests rest mainly on interaction between objects, people, and culture. Regarding those elements I enjoy the process of analyzing, simulating, exploring, and understanding their subtle inter-dependent lives." />
  <meta name="author" content="Doug Fritz" />
  <meta name="copywrite" content="April 2010;" />
  <link rel="openid.server"
          href="http://www.myopenid.com/server" />
    <link rel="openid.delegate"
          href="http://doug.fritz.myopenid.com/" />
    <meta http-equiv="X-XRDS-Location"
          content="http://www.myopenid.com/xrds?username=doug.fritz.myopenid.com" />
</head>
<body>
  {{ content }}
  <div id="header">
    <span id="search_container">
      <form id="search_form" type="GET">
        &rarr; <input id="search" type="search">
      </form>
    </span>
    <ul>
      <li>
        <a href="/">Core Projects</a>
      </li>
      <li>
        <a href="/explorations.html">Explorations & Fun</a>
      </li>
      <li>
        <a href="/about.html">Short Bio</a>
      </li>
    </ul>
  <!--[if lt IE 7]>
    <div style='border: 1px solid #F7941D; background: #FEEFDA; text-align: center; clear: both; height: 75px; position: relative;'>
      <div style='position: absolute; right: 3px; top: 3px; font-family: courier new; font-weight: bold;'><a href='#' onclick='javascript:this.parentNode.parentNode.style.display="none"; return false;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-cornerx.jpg' style='border: none;' alt='Close this notice'/></a></div>
      <div style='width: 640px; margin: 0 auto; text-align: left; padding: 0; overflow: hidden; color: black;'>
        <div style='width: 75px; float: left;'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-warning.jpg' alt='Warning!'/></div>
        <div style='width: 275px; float: left; font-family: Arial, sans-serif;'>
          <div style='font-size: 14px; font-weight: bold; margin-top: 12px;'>You are using an outdated browser</div>
          <div style='font-size: 12px; margin-top: 6px; line-height: 12px;'>For a better experience using this site, please upgrade to a modern web browser.</div>
        </div>
        <div style='width: 75px; float: left;'><a href='http://www.firefox.com' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-firefox.jpg' style='border: none;' alt='Get Firefox 3.5'/></a></div>
        <div style='width: 75px; float: left;'><a href='http://www.browserforthebetter.com/download.html' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-ie8.jpg' style='border: none;' alt='Get Internet Explorer 8'/></a></div>
        <div style='width: 73px; float: left;'><a href='http://www.apple.com/safari/download/' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-safari.jpg' style='border: none;' alt='Get Safari 4'/></a></div>
        <div style='float: left;'><a href='http://www.google.com/chrome' target='_blank'><img src='http://www.ie6nomore.com/files/theme/ie6nomore-chrome.jpg' style='border: none;' alt='Get Google Chrome'/></a></div>
      </div>
    <![endif]-->
  </div>
  <div id="footer">
    <ul>
      {% if site.related_posts and 1==2 %}
      <li>
        Similar to:
      </li>
      {% for post in site.related_posts limit:5 %}
      {% if post.id != page.id %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endif %}
      {% endfor %}
      <li> | </li>
      {% endif %}
      <li>
        Designed by Doug Fritz
      </li>
      <li>
        Powered by git, jekyll, blueprint, jquery & coffee
      </li>
      <li>
        &copy;2010 Doug Fritz, Fluid Interfaces & MIT Media Lab
      </li>
    </ul>
  </div>
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  var pageTracker = _gat._getTracker("UA-1862551-1");
  pageTracker._initData();
  pageTracker._trackPageview();
  </script>
</body>
</html>
